name: Release APK

on: [push, pull_request]

permissions:
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5.0.1
      with:
        go-version: '1.22'

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Set up Android SDK
      uses: android-actions/setup-android@v3

    - name: Set up NDK
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r26d
        link-to-sdk: true

    - name: Compile Go libs
      run: |
        pushd 'app/src'
        ./make.sh
        popd

    - name: Build with Gradle
      run: ./gradlew --no-daemon assembleRelease

    - name: Sign APK
      id: sign_app
      uses: r0adkll/sign-android-release@v1
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        alias: ${{ secrets.ALIAS }}
      env:
        BUILD_TOOLS_VERSION: "34.0.0"

    - name: Attest APK
      uses: actions/attest-build-provenance@v1
      with:
        subject-path: ${{steps.sign_app.outputs.signedReleaseFile}}

    - name: Upload release files
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: ${{steps.sign_app.outputs.signedReleaseFile}}

